/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  background-color: $theme-color;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: $masthead-title-small-color;
  letter-spacing: 0;
}
